BasedOnStyle: LLVM

Language: Cpp
NamespaceIndentation: All
MaxEmptyLinesToKeep: 3
AlignConsecutiveAssignments: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: 100
TabWidth: 3
UseTab: ForIndentation
