BasedOnStyle: LLVM

Language: Cpp
NamespaceIndentation: All
MaxEmptyLinesToKeep: 3
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: 100
TabWidth: 3
PenaltyBreakComment: 300
SortIncludes: true
UseTab: ForContinuationAndIndentation
CommentPragmas:  '^\\.+'
BinPackParameters: false
BinPackArguments: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
