# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Logs and data
*.dat
*.lp
*.json
.DS_Store
.lock


#IDEs
.idea/*
*.srctrlprj
*.srctrlbm
*.srctrldb

#Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


#Folders
bin/
build/
cmake-*
CMakeFiles/*
dat/*
lib/conda/*
test/run_data/*


*.txt
*.srctrlprj
*.srctrlbm
*.srctrldb
runTests.sh
runSelectiveTests.sh
include/support/version.h
docs/conf.py
docs/api/*
docs/html/*
docs/doxyoutput/*

.gdbinit
lib/CustomCoin/CglKnapsackCoverZERO.cpp
lib/CustomCoin/CglKnapsackCoverZERO.hpp
