
.wy-menu-vertical p.caption {
    color: #cf9bf4 !important;
}

.wy-nav-top, .wy-nav-side {
    background-color:#23084f !important;
}

.wy-side-nav-search input[type=text] {
    border-color:#cf9bf4 !important;
}

