.wy-menu-vertical p.caption {
    color: #cf9bf4 !important;
}

.wy-nav-top, .wy-nav-side {
    background: linear-gradient(rgb(35, 8, 79) 32.77%, rgb(145, 54, 171));
}

.wy-side-nav-search input[type=text] {
    border-color: #cf9bf4 !important;
}

.wy-menu-vertical a:hover {
    background-color: #6130e0;
}

.wy-menu-vertical a:active {
    background-color: #b782f0 !important;
    color: white !important;
}

.wy-side-nav-search > a {
    padding-top: 20px;
}