.wy-menu-vertical p.caption {
color: #cf9bf4 !important;
}

.wy-nav-top, .wy-nav-side {
background-color:#23084f !important;
}

.wy-side-nav-search input[type=text] {
border-color:#cf9bf4 !important;
}

.wy-menu-vertical a:hover {
background-color: #6130e0;
}

.wy-menu-vertical a:active {
background-color: #b782f0 !important;
color: white !important;
}