.wy-menu-vertical p.caption {
    color: #cf9bf4 !important;
}

.wy-nav-top, .wy-nav-side {
    background: linear-gradient(rgb(68, 44, 123) 32.77%, rgba(117, 71, 235, 0.85));
}

.wy-side-nav-search input[type=text] {
    border-color: #cf9bf4 !important;
}

.wy-menu-vertical a:hover {
    background-color: #d35cd6;
}

.wy-menu-vertical a:active {
    background-color: #b782f0 !important;
    color: white !important;
}

.wy-side-nav-search > a {
    padding-top: 20px;
}
.wy-side-nav-search{
    background: rgb(68, 44, 123);
}